@page "/register"

<!-- Header -->
<header class="header-bg text-center mb-8 py-6 rounded-xl" style="max-width:430px; margin:2rem auto 1.5rem;">
    <div class="header-flex">
        <svg class="logo-svg" viewBox="0 0 40 40" fill="none">
            <rect x="5" y="5" width="30" height="30" rx="2" fill="#F9D5A7" stroke="#8B5E3C" stroke-width="2" />
            <rect x="10" y="10" width="8" height="20" rx="1" fill="#FF9AA2" />
            <rect x="20" y="10" width="10" height="8" rx="1" fill="#B5EAD7" />
            <rect x="20" y="22" width="10" height="8" rx="1" fill="#C7CEEA" />
        </svg>
        <h1 class="main-title">Register ✨</h1>
    </div>
</header>

<form @onsubmit="RegisterUser">
    <div class="card enhanced">
        @if (!string.IsNullOrWhiteSpace(StatusMessage))
        {
            <div class="alert alert-@Status">
                <i class="fa fa-info-circle"></i>&nbsp;
                @StatusMessage
            </div>
        }
        <fieldset>
            <legend>Username:</legend>
            <input class="form-control" type="text" @bind="Model.Username" placeholder="Username" title="Username" />
        </fieldset>
        <fieldset>
            <legend>Password:</legend>
            <input type="password" @bind="Model.Password" placeholder="Password" title="Password" class="form-control" />
        </fieldset>
        <fieldset>
            <legend>First Name:</legend>
            <input class="form-control" type="text" @bind="Model.FirstName" placeholder="First Name" title="First Name" />
        </fieldset>
        <fieldset>
            <legend>Last Name:</legend>
            <input class="form-control" type="text" @bind="Model.LastName" placeholder="Last Name" title="Last Name" />
        </fieldset>
        <fieldset>
            <legend>Mobile:</legend>
            <input class="form-control" type="text" @bind="Model.MobileNumber" placeholder="Mobile" title="Mobile" />
        </fieldset>
        <fieldset>
            <legend>Address:</legend>
            <textarea class="form-control" @bind="Model.Address" placeholder="Address" title="Address"></textarea>
        </fieldset>
        <button type="submit" class="btn btn-warning scaledbutton">
            <i class="fas fa-user-plus"></i>&nbsp;Register
        </button>
    </div>
</form>

<script>
    $(function(){
        $('.form-control').on('focus',function(){
            $(this).attr('placeholder','');
            $(this).parent().addClass('hasFocus');
        });
        $('.form-control').on('blur',function(){
            $(this).attr('placeholder',$(this).attr('title'));
            $(this).parent().removeClass('hasFocus');
        });
        $('.form-control').each(function(){
            $(this).parent().removeClass('hasText');
            if($(this).val().length > 0){
                $(this).parent().addClass('hasText');
            }
            $(this).on('change',function(){
                $(this).parent().removeClass('hasText');
                if($(this).val().length > 0){
                    $(this).parent().addClass('hasText');
                }
            });
        });
    });
</script>